@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&family=Rubik:wght@500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(174, 174, 174,0.7);
    color: white;
    padding: 10px;
    text-align: center;
    margin-left: 85%;
  }

  /* Estilos para la caja con borde negro */
  .caja {
    padding: 5px;
    width: 60%;
    background-color: rgb(174, 174, 174,0.15);
  }


  .texto{
    padding: 10px;
    margin-top: 60px;
    margin-left: 30%;
    margin-bottom: 20px;
    width: 65%;
    background-color: white;
    color: rgb(174, 174, 174,0.8);
    box-shadow: 30px 15px 15px rgb(174, 174, 174,0.6);
    border: 2px solid rgb(255,0,0);

  }

  /* Estilos para las imágenes inline-block */
  .imagenes {
    border-top: 2px solid rgb(174, 174, 174,0.5);
    border-right: 2px solid rgb(174, 174, 174,0.5);
    margin-left: 10%;
    /* margin-right: 10%; */
    width: 70%;
  }

  .imagenes img {
    display: inline-block;
    width: 55%;
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* padding-bottom: 10px;
    border-bottom: 2px solid  black; */
    background-color: white;
    border: 2px solid rgb(174, 174, 174,0.9);
  }


  #container {
    position: fixed;
    width: 100vw;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
    color: black;
    z-index: -1;
}

#text1,
#text2 {
    position: absolute;
    width: 50%;
    font-family: "Raleway", sans-serif;
    font-size: 85pt;
    user-select: none;
    margin-left: 10%;
    margin-top: 5%;
    /* color:rgb(231, 229, 229); */
    /* Camibar a transparten o a algun color para que pueda
    cambiar y tener otras texturas */

    color: rgb(250, 250, 250,0.9);
    -webkit-text-stroke: 1.5px black; 
}

        /* Estilos para el footer */
  footer {
    background-color: rgb(174, 174, 174,0.9);
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    margin-left: 75%;
    width: 10%;

  }